@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{
  position: fixed;
  margin: 0;
  padding: 0;
  background: url("../style/img/back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
footer {
    position: fixed;
    color: white;
    background: #333;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 82px;
    line-height: 100px;
}
span.alt {
    text-align: -webkit-center;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    margin-top: -10px;
}
header{
  position: fixed;
  width: 100%;
}
span.logo {
  display: inline-block;
  margin-top:15px;
  margin-left:15px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: white;
  overflow: hidden;
  background: linear-gradient(to right, #12C6E2, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 400ms ease;
  text-decoration: none;
}
span.logo:hover {
  background-position: 0 100%;
}
@media (max-width: 1320px){
.textarea1 {
    margin-left: 5vh !important;
    margin-top: 35vh;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: white;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: #FFD700​;
    opacity: 0.9;
}}
.textarea1{
  margin-left: 50vh;
  margin-top:  35vh;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: white;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  border-color: #FFD700​;
  opacity: 0.9;
  }
.h1{
  position: fixed;
  top: 30%;
  left: 40%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0 20px;
  font-size: 3em;
  color:gray;
  font-family: 'Oswald', sans-serif;
}
.h2{
  position: fixed;
  color:white;
  font-size:30px;
  font-family: 'Oswald', sans-serif;
  top:61%;
  left:25%;
}
.buton {
    position: absolute;
    width: 15%;
    top: 100%;
    right: 0;
    padding-right: 8px;
    padding-left: 8px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
@media (max-width: 1320px){
.buton {
  position: absolute;
  width: 15%;
  top: 100%;
  right: 0%;
  padding-right: 8px;
  padding-left: 8px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}}
.buton2 {
    position: absolute;
    width: 15%;
    top: 100%;
    right:190px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  height: 41px;
  background-color: #111;
  border-bottom: 3px solid red;
}
li a.active {
  border-bottom: 3px solid red;
}
.box1 {
    background-color: gray;
    margin-top : 100px;
    margin-left:400px;
    padding: 40px;
    height: 100px;
    width: 600px;
    border-radius: 30px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    font-family: 'Oswald', sans-serif;
    font-size:18px;
}
.box2 {
    background-color: gray;
    margin-top : 10px;
    margin-left:400px;
    padding: 40px;
    height: 1450px;
    width: 600px;
    color:white;
    border-radius: 30px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    font-family: 'Oswald', sans-serif;
    font-size:14px;
}
.box3 {
    background-color: gray;
    margin-top : 80px;
    margin-left:400px;
    padding: 40px;
    height: 300px;
    width: 600px;
    color:white;
    border-radius: 30px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    font-family: 'Oswald', sans-serif;
    font-size:14px;

}
.box4 {
  background-color: gray;
  margin-top : 30px;
  margin-left:400px;
  padding: 40px;
  height: 100px;
  width: 600px;
  border-radius: 30px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  font-family: 'Oswald', sans-serif;
  font-size:18px;
}
.sag {
  position: fixed;
  font-family: 'Oswald', sans-serif;
  font-size:18px;
  color: white;
}
.sol {
  position: fixed;
  left: 46%;
  font-family: 'Oswald', sans-serif;
  font-size:18px;
  color: white;
}
input[type=text] {width: 600px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  }
  input[type=submit].An1 {
  float: right;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  color: rgb(205,216,228);
  text-shadow: 0 -1px rgb(46,53,58);
  text-decoration: none;
  user-select: none;
  line-height: 2em;
  padding: 1px 1.2em;
  outline: none;
  border: 1px solid rgba(33,43,52,1);
  border-radius: 3px;
  background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
  box-shadow:
   inset 0 1px rgba(101,114,126,1),
   inset 0 0 1px rgba(140,150,170,.8),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
}
  input[type=submit].An1:active {
  box-shadow:
   inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
}
  input[type=submit].An1:focus:not(:active) {
  border: 1px solid rgb(22,32,43);
  border-bottom: 1px solid rgb(25,34,45);
  background: rgb(53,61,71);
  box-shadow:
   inset 0 1px 3px rgba(0,10,20,.5),
   0 1px rgb(83,94,104),
   0 0 1px rgb(86,96,106);
  pointer-events: none;
}
.hash{

  position: absolute;
  top: 100%;
  left: 12%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0 20px;
  font-size: 30px;
  color:#D4C408;
  text-shadow:0 0 20px #115ADE;
  font-family: 'Oswald', sans-serif;
}
.hash2{

  position: absolute;
  top: 100%;
  left: 36%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0 20px;
  font-size: 30px;
  color:#0DBAA7;
  text-shadow:0 0 20px #115ADE;
  font-family: 'Oswald', sans-serif;
}
.hash3{

  position: absolute;
  top: 111%;
  left: 12%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0 20px;
  font-size: 30px;
  color:#0DA6BA;
  text-shadow:0 0 20px #115ADE;
  font-family: 'Oswald', sans-serif;
}
.hash4{

  position: absolute;
  top: 111%;
  left: 41%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0 20px;
  font-size: 30px;
  color:#0DBAA7;
  text-shadow:0 0 20px #115ADE;
  font-family: 'Oswald', sans-serif;
}
.hash5{

  position: absolute;
  top: 123%;
  left: 12%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0 20px;
  font-size: 30px;
  color:#0D87BA;
  text-shadow:0 0 20px #115ADE;
  font-family: 'Oswald', sans-serif;
}
.hash6{

  position: absolute;
  top: 123%;
  left: 57%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0 20px;
  font-size: 30px;
  color:#0DBAA7;
  text-shadow:0 0 20px #115ADE;
  font-family: 'Oswald', sans-serif;
}
.hash7{

  position: absolute;
  top: 138%;
  left: 12%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0 20px;
  font-size: 30px;
  color:#0D65BA;
  text-shadow:0 0 20px #115ADE;
  font-family: 'Oswald', sans-serif;
  }
.hash8{
    position: absolute;
    top: 130%;
    left:20%;
    font-family: 'Oswald', sans-serif;
    }
.orta{
   position: fixed;

}
.boxing {
  position: fixed;
  background-color: gray;
    margin-top: 100px;
    margin-left: 30px;
    padding: 40px;
    height: 800px;
    width: 1600px;
    border-radius: 30px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.reklam {
 margin-left:760%;
 margin-top: 58%;
}

@media (max-width: 1320px){
  .boxing {
    position: fixed;
    background-color: gray;
      margin-top: 100px;
      margin-left: 30px;
      padding: 40px;
      height: 400px;
      width: 700px;
      border-radius: 30px;
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
      font-family: 'Oswald', sans-serif;
      font-size: 18px;
  }  }
  .alexatitle {
    position: fixed;
    left: 36%;
    top:25%;
    color:gray;
    font-family: 'Oswald', sans-serif;
    font-size: 44px;
  }
