@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{
  position: fixed;
  margin: 0;
  padding: 0;
  background: url("../style/img/back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
footer {
    position: fixed;
    color: white;
    background: #333;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 82px;
    line-height: 100px;
}
span.alt {
    text-align: -webkit-center;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    margin-top: -10px;
}
header{
  position: fixed;
  width: 100%;
}
span.logo {
  display: inline-block;
  margin-top:15px;
  margin-left:15px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: white;
  overflow: hidden;
  background: linear-gradient(to right, #12C6E2, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 400ms ease;
  text-decoration: none;
}
span.logo:hover {
  background-position: 0 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  height: 41px;
  background-color: #111;
  border-bottom: 3px solid red;
}
li a.active {
  border-bottom: 3px solid red;
}
.w1 {
position: fixed;
top: 150px;
left:460px;
font-size: 20px;
font-family: 'Oswald', sans-serif;
color:white;
}
.w2 {
position: fixed;
top: 150px;
left:460px;
font-size: 20px;
font-family: 'Oswald', sans-serif;
color:white;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}
.cbutton {
  position: absolute;
  font: inherit;
  font-weight: 600;
  padding: 0.6rem 2rem;
  background: transparent;
  color: currentcolor;
  border: 1px solid;
  transition: background 100ms ease;
  position: static;
  left: 10px;
}

.cbutton,
.cbutton::before {
  cursor: pointer;
}

.cbutton::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cbutton:focus {
  outline: none;
}

.cbutton:hover {
  background: #333333;
}

.cbutton:focus::before {
  outline: 1px solid #ffffff;
  outline-offset: -0.8rem;
}

:not([data-interactive]) > .cbutton::before {
  display: none;
}
.howmany{
  position: fixed;
  top:600px;
  left:470px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color:white;
}
